<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>GitRepositoryServlet</servlet-name>
    <servlet-class>com.github.takezoe.dgit.repository.GitRepositoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GitRepositoryServlet</servlet-name>
    <url-pattern>/git/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>resty.swagger</param-name>
    <param-value>enable</param-value>
  </context-param>
  <!--
      <context-param>
          <param-name>resty.zipkin</param-name>
          <param-value>enable</param-value>
      </context-param>
      <context-param>
          <param-name>resty.zipkin.service.name</param-name>
          <param-value>restry-sample</param-value>
      </context-param>
      <context-param>
          <param-name>resty.zipkin.sample.rate</param-name>
          <param-value>1.0</param-value>
      </context-param>
      <context-param>
          <param-name>resty.zipkin.server.url</param-name>
          <param-value>http://127.0.0.1:9411/api/v1/spans</param-value>
      </context-param>
  -->
  <!--
      <context-param>
          <param-name>resty.hystrix</param-name>
          <param-value>enable</param-value>
      </context-param>
  -->
  <!--
      <context-param>
          <param-name>resty.wabjars</param-name>
          <param-value>enable</param-value>
      </context-param>
      <context-param>
          <param-name>resty.wabjars.path</param-name>
          <param-value>/public/assets/*</param-value>
      </context-param>
  -->
</web-app>